.container{
	margin-bottom: 50px;
}
nav.navbar.navbar-default{
	border-color: #2e6da4;
	margin-top: 20px;
}

nav.navbar.navbar-default a {
	color: white;
}

li p.navbar-text, a.navbar-brand {
	color: white!important;
	font-weight: bolder;
}

.centralize{
		margin:0 auto;
}
