
.container{
	margin-bottom: 50px;
}
nav.navbar.navbar-default{
	border-color: #2e6da4;
	margin-top: 20px;
}

nav.navbar.navbar-default a {
	color: white;
}

li p.navbar-text, a.navbar-brand {
	color: white!important;
	font-weight: bolder;
}

.centralize{
		margin:0 auto;
}

.log_in{

		margin:150px auto;
		width: 400px;
}


.screen{

		width: 100%;
		height: 100%;
		background-color: #1abc9c;
		

}
